{% extends 'Header_Footer.html' %} 
 
{% block content %} 


<!-- About us -->
<section class=" py-5 py-xl-8 mt-5 " style="background-color: #ef476ecd;">
    <div class="container" >
      <div class="row justify-content-md-center">

        <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
            <h3 class="fs-7 mb-2" style="font-family: 'Cairo'; font-weight: bold; font-size: 28px ;">من نحن؟</h3>
            <h2 class="display-5 mb-5" style="font-size: 28px ;">
                نحن <span class=" madimi-one-regular" style="color: #ffd166;">TechEdu</span>، نسعى لتقديم أفضل الدورات والبرامج في مجالات التقنية.
                <br>
                هدفنا هو تمكين الأفراد من اكتساب المهارات اللازمة للنجاح في عالم التكنولوجيا المتطورة،   نقدم تجارب تعليمية ممتازة وفعالة لمساعدتكم في تحقيق أهدافكم المهنية.
            </h2>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
      </div>
    </div>
  <!--About us-->
    <div class="container overflow-hidden" >
        <p class="text-center" style="font-family: 'Cairo'; font-weight: bold; font-size: 28px ;">نقدم دورات في مجالات التالية</p>
      <div class="row gy-4 gy-xl-0">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card  shadow-sm" style="border-bottom-color: #ef476f; border-bottom-width: 3px;">
            <div class="card-body text-center p-4 p-xxl-5">
                <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-api-illustration_23-2149365021.jpg?t=st=1709900246~exp=1709903846~hmac=77436f8c7d245196fe2cb5db99c5d524edf0c7cb8a44b22dc2e6936ac3ff73a5&w=740"  style="width: 200px;">
              <h4 class="mb-4">تطوير الويب</h4>
              <p class="mb-4 text-secondary">
                تطوير الويب هو عملية إنشاء وتحسين المواقع الإلكترونية والتطبيقات على الإنترنت. يشمل ذلك استخدام لغات برمجة مثل HTML، CSS، وJavaScript
              </p>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card  shadow-sm" style="border-bottom-color: #ef476f; border-bottom-width: 3px;">
            <div class="card-body text-center p-4 p-xxl-5">
              <img src="https://img.freepik.com/free-vector/app-development-concept-with-phone-lightbulb_23-2148699429.jpg?t=st=1709900653~exp=1709904253~hmac=8a5189b28a18a82015f14504d5449213174cd8f5ed24be5234247545e317f541&w=740" style="width: 200px;">
              <h4 class="mb-4">تطوير التطبيقات</h4>
              <p class="mb-4 text-secondary">
                تطوير التطبيقات يركز على بناء التطبيقات الجوال لمختلف الأنظمة التشغيل مثل iOS وAndroid . يشمل ذلك استخدام لغات برمجة مثل  Kotlin، Swift
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card shadow-sm" style="border-bottom-color: #ef476f; border-bottom-width: 3px;">
            <div class="card-body text-center p-4 p-xxl-5">
             <img src="https://img.freepik.com/free-vector/call-center-isometric-concept_1284-69078.jpg?t=st=1709900740~exp=1709904340~hmac=deed42e6d6d14167ee80ad21f799f3e570cd5c4919d6e4f5e6c01ad29c1f0160&w=740" style="width: 200px;">
              <h4 class="mb-4">الذكاء الاصطناعي</h4>
              <p class="mb-4 text-secondary">
                الذكاء الاصطناعي يشمل مجموعة من التقنيات والأدوات التي تسمح للأنظمة بتعلم وفهم وتفاعل بشكل ذكي مع البيانات والمعلومات
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card shadow-sm" style="border-bottom-color: #ef476f; border-bottom-width: 3px;">
            <div class="card-body text-center p-4 p-xxl-5">
                <img src="https://img.freepik.com/free-vector/ui-ux-app-development-concept_52683-48848.jpg?w=1060&t=st=1709900107~exp=1709900707~hmac=e45f162b76590d60800cd3a5951b26837eadc40e356b6c49a6c01661524d8fbd"  style="width: 250px;">
              <h4 class="mb-4"> تصميم واجهات المستخدم</h4>
              <p class="mb-4 text-secondary">
                تصميم واجهات المستخدم يهدف إلى إنشاء تجارب مستخدم ممتازة وسهلة الاستخدام من خلال تصميم وتطوير واجهات تفاعلية وجذابة
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    </section>




{% endblock %}